body{-webkit-font-smoothing:antialiased;font:12px 'Hiragino Sans GB','Hiragino Sans GB W3','Microsoft Yahei',sans-serif}
a{cursor:pointer}

/* fonts setup */
@font-face {
    font-family: 'lr-light';
    src: url('http://www.landrover.com/c/script/landroverlgtl-webfont.eot');
    src: url('http://www.landrover.com/c/script/landroverlgtl-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.landrover.com/c/script/landroverlgtl-webfont.woff') format('woff'),
         url('http://www.landrover.com/c/script/landroverlgtl-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lr-medium';
    src: url('http://www.landrover.com/c/script/landrovermedl-webfont.eot');
    src: url('http://www.landrover.com/c/script/landrovermedl-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.landrover.com/c/script/landrovermedl-webfont.woff') format('woff'),
         url('http://www.landrover.com/c/script/landrovermedl-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lr-bold';
    src: url('http://www.landrover.com/c/script/landroverbldl-webfont.eot');
    src: url('http://www.landrover.com/c/script/landroverbldl-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.landrover.com/c/script/landroverbldl-webfont.woff') format('woff'),
         url('http://www.landrover.com/c/script/landroverbldl-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* color of placeholder */
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #c3c3c3;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #c3c3c3;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #c3c3c3;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #c3c3c3;
}

/* general */
.logo{left:20px;position:absolute;top:0;z-index:99}
.float-left{float:left}
.float-right{float:right}
.text-bold{font-weight:bold !important}

/* column */
.col-margin{}
.col1{width:120px}
.col2{width:240px}

/* buttons */
.btn-simple{border:solid 1px #ccc;color:#333;display:inline-block;height:24px;line-height:24px;text-align:center;text-decoration:none;width:108px}

/* icons */
.icon{display:inline-block;font:0/0 a;vertical-align:middle}
.icon-triangle{background:url(../img/arrow-btn-triangle.gif) no-repeat;height:8px;margin-top:-3px;margin-left:5px;width:4px}

#main{background:#555;height:768px;position:relative}

#ui_board{-webkit-text-size-adjust:none;position:absolute;right:0;top:10px;width:300px}
#ui_board .section{margin-right:auto;margin-left:auto;margin-bottom:10px;padding-top:10px}
#ui_board .separator{position:relative}
#ui_board .separator i{background:url(../img/ui-separator.gif) no-repeat top center;font:0/0 a;left:0;height:1px;position:absolute;top:0;width:20px}

#ui_counter{background:url(../img/ui-counter.png) no-repeat;height:104px;margin-top:10px;padding:10px 19px 0;width:240px}
#ui_counter .distance{*display:inline-block;overflow:hidden}
#ui_counter .digit{float:left;height:70px;position:relative;text-align:center;width:40px}
#ui_counter .digit b{color:#fff;font:60px/70px lr-medium,sans-serif}
#ui_counter .digit i{background:url(../img/ui-reflection.png) no-repeat;height:70px;left:0;position:absolute;top:0;width:40px}
#ui_counter p{color:#fff;margin:6px 0}
#ui_counter p span{color:#999;float:right;font-size:10px}

#ui_user{}
#ui_user .btns{font-size:0;margin:0;text-align:center}
#ui_user .btns a{background:url(../img/ui-btn-user.png) no-repeat;color:#fff;display:inline-block;font-size:12px;height:30px;line-height:30px;margin:0 10px;text-align:center;width:120px}

#ui_info{width:260px}
#ui_info ul{list-style:none;margin:0;padding:0}
#ui_info li{color:#fff;margin-bottom:10px;text-shadow:1px 1px 0 #000}
#ui_info span{font:18px/31px lr-bold,'Hiragino Sans GB','Hiragino Sans GB W6','Microsoft Yahei',sans-serif}
#ui_info b{font:30px/31px lr-bold,sans-serif;margin-right:5px}
#ui_info sup{font-size:10px;font-weight:bold;margin-right:5px;top:-1em}
#ui_info .icon{background:url(../img/ui-icon.png) no-repeat;height:31px;margin-top:-10px;margin-right:5px;width:32px}
#ui_info .icon-location{margin-top:-5px}
#ui_info .icon-distance{background-position:right bottom;height:35px;margin-top:-12px}
#ui_info .icon-duration{background-position:0 -31px}
#ui_info .icon-latlng{background-position:0 -62px;margin-top:-10px}
#ui_info .icon-pic{background-position:0 -93px}

#nav{position:absolute;top:768px;width:100%;z-index:9}
#nav .contract{bottom:0;left:0;position:absolute;width:100%}
#nav .btn{background:url(../img/ui-icon-nav.gif) no-repeat 6px center #e05206;color:#fff;display:inline;float:left;font-size:10px;height:20px;line-height:20px;margin-left:20px;text-align:center}
#nav p{background:url(../img/pattern-nav.png) repeat;float:left;font:0/0 a;height:20px;margin:0 0 0 20px}
#nav span{background:#bcbec0;display:inline-block;height:2px;margin:0 10px;vertical-align:top}
#nav span.first{margin-left:0}
#nav span.active{background:#e05206;height:4px}
#nav b{background:#fff;display:inline-block;height:4px;margin-top:16px;width:2px}

#intro{background:#fff;*display:inline-block;overflow:hidden;padding-top:40px}
#intro .column{display:inline;float:left;margin-left:20px;width:260px}
#intro .stat{list-style:none;margin:5px 0 0;padding:0}
#intro .stat li{color:#333;font:30px/32px lr-bold,'Hiragino Sans GB','Hiragino Sans GB W3','Microsoft Yahei',sans-serif;margin-bottom:8px}
#intro .stat li sup{font-size:10px;margin-left:5px;top:-1em}
#intro .stat li i{background:url(../img/icon-black.png) no-repeat;height:32px;margin-top:-3px;margin-right:6px;width:32px}
#intro .stat li i.icon-distance{height:34px;line-height:34px}
#intro .stat li i.icon-stops{background-position:0 -34px}
#intro .stat li i.icon-pic{background-position:0 -66px}
#intro h2{font-size:24px;height:31px;line-height:31px;margin:0}
#intro b.line{background:#000;display:block;font:0/0 a;height:5px;margin:20px 0;width:46px}
#intro p{margin:20px 0}
#intro .quick-link{border-left:dashed 1px #ccc;margin-top:51px;height:360px}
#intro .quick-link .line{margin-top:0}
#intro .form{list-style:none;margin:0;padding:0 0 0 19px}
#intro .form li{background:url(../img/pattern-bg.png) repeat;height:35px;margin-bottom:20px;padding:5px;width:110px}
#intro .form li a{border:solid 1px #fff;display:block;height:31px;padding:1px}
#intro .form li a span{background:url(../img/arrow-btn-tl.gif) no-repeat 1px 1px #fff;color:#333;display:block;font-size:14px;height:31px;line-height:31px;text-align:center}

#footer{background:url(../img/footer-shadow.gif) repeat-x;clear:both;color:#999;height:60px;line-height:60px;margin-top:20px;padding-left:20px;position:relative;width:960px}
#footer .extend{background:url(../img/footer-extend.gif) no-repeat;height:38px;position:absolute;right:-207px;top:0;width:207px}
#footer a{color:#555;font-weight:bold;text-decoration:none}
#footer a:hover{text-decoration:underline}
#footer i{background:#000;display:inline-block;height:4px;font:0/0 a;margin:0 5px;vertical-align:bottom;width:1px}
#footer .share{display:inline-block;list-style:none;margin:0;overflow:hidden;padding:0 20px 0 0}
#footer .share li{background:url(../img/icon-share.gif) no-repeat;cursor:pointer;display:inline;;float:left;font:0/0 a;height:13px;margin-left:5px;width:13px}
#footer .share li.renren{background-position:-13px 0}
#footer .share li.douban{background-position:-26px 0}
