body{-webkit-font-smoothing:antialiased;font:12px 'Hiragino Sans GB','Hiragino Sans GB W3','Microsoft Yahei',sans-serif}
a{cursor:pointer}

/* fonts setup */
@font-face {
    font-family: 'lr-light';
    src: url('../landroverlgtl-webfont.eot');
    src: url('../landroverlgtl-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.landrover.com/c/script/landroverlgtl-webfont.woff') format('woff'),
         url('http://www.landrover.com/c/script/landroverlgtl-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lr-medium';
    src: url('../landrovermedl-webfont.eot');
    src: url('../landrovermedl-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.landrover.com/c/script/landrovermedl-webfont.woff') format('woff'),
         url('http://www.landrover.com/c/script/landrovermedl-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lr-bold';
    src: url('../landroverbldl-webfont.eot');
    src: url('../landroverbldl-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.landrover.com/c/script/landroverbldl-webfont.woff') format('woff'),
         url('http://www.landrover.com/c/script/landroverbldl-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* color of placeholder */
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #c3c3c3;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #c3c3c3;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #c3c3c3;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #c3c3c3;
}

/* general */
.logo{left:20px;position:absolute;top:0;z-index:99}
.float-left{float:left}
.float-right{float:right}
.mask{background:#000;background-color:rgba(0,0,0,.6);filter:alpha(opacity=60);height:100%;left:0;position:absolute;top:0;width:100%;z-index:7}
.mask-white{background:#fff;background-color:rgba(255,255,255,.5);z-index:1}
.mask-alpha3{background:#000;background-color:rgba(0,0,0,.3);filter:alpha(opacity=30);}
.text-bold{font-weight:bold !important}
.visible{visibility:visible !important}
.pattern-about{background:url(../img/pattern-bg.png) repeat;height:100%;left:0;position:absolute;top:0;width:100%}
.cursor-close{cursor:url(../img/cursor-close.cur) 26 26,pointer}

/* column */
.col-margin{}
.col1{width:120px}
.col2{width:240px}

/* buttons */
.btn-simple{background:#fff;border:solid 1px #ccc;color:#333;display:inline-block;height:24px;line-height:24px;text-align:center;text-decoration:none;width:108px}
.btn-orange{background:#e05206;border:solid 1px #e05206;color:#fff}
.btn-square{width:24px}

/* icons */
.icon{display:inline-block;font:0/0 a;vertical-align:middle}
.icon-triangle{background:url(../img/arrow-btn-triangle.gif) no-repeat;height:8px;margin-top:-3px;margin-left:5px;width:4px}
.icon-triangle-white{background-position:0 -8px}
.icon-cross{background:url(../img/icon-cross.png) no-repeat;height:31px;width:31px}

#main{background:#555;height:768px;overflow:hidden;position:relative}

#kv_index{height:100%;left:0;overflow:hidden;position:absolute;top:0;width:100%}
#kv_index img{left:0;position:absolute}

#main .copy{left:150px;position:absolute;top:0;z-index:1}
#main .copy .head{background:url(../img/head-line.png) no-repeat;color:#000;font:0/0 a;height:99px;position:absolute;top:158px;width:368px}
#main .copy .desc{background:url(../img/head-copy.png) no-repeat;color:#000;font:0/0 a;height:120px;position:absolute;top:272px;width:410px}
#main .copy p{position:absolute;top:445px}

#google_map .pattern{left:0;position:absolute;top:0;z-index:1}
#google_map .pattern i{background:url(../img/pattern-map.png) repeat-y;display:inline;float:left;height:100%;width:20px}

#ui_board{-webkit-text-size-adjust:none;left:840px;position:absolute;top:10px;width:300px;z-index:2}
#ui_board .section{margin-right:auto;margin-left:auto;margin-bottom:10px;padding-top:10px}
#ui_board .separator{position:relative}
#ui_board .separator i{background:url(../img/ui-separator.gif) no-repeat top center;font:0/0 a;left:0;height:1px;position:absolute;top:0;width:20px}

#ui_counter{background:url(../img/ui-counter.png) no-repeat;height:104px;margin-top:10px;padding:10px 19px 0;width:240px}
#ui_counter .distance{*display:inline-block;overflow:hidden}
#ui_counter .digit{float:left;height:70px;position:relative;text-align:center;width:40px}
#ui_counter .digit b{color:#fff;font:60px/70px lr-medium,sans-serif}
#ui_counter .digit i{background:url(../img/ui-reflection.png) no-repeat;height:70px;left:0;position:absolute;top:0;width:40px}
#ui_counter p{color:#fff;margin:6px 0}
#ui_counter p span{color:#999;float:right;font-size:10px}

#ui_user{}
#ui_user .btns{font-size:0;margin:0;text-align:center}
#ui_user .btns a{background:url(../img/ui-btn-user.png) no-repeat;color:#fff;display:inline-block;font-size:12px;height:30px;line-height:30px;margin:0 10px;text-align:center;width:120px}
#ui_user .btns a span{background:url(../img/arrow-btn.png) no-repeat center -30px;display:block;height:30px;-webkit-transition:background-position .2s ease-out;transition:background-position .2s ease-out}
#ui_user .btns a span:hover{background-position:center -60px}
#ui_user .btns a.sina{background-image:url(../img/ui-btn-sina.png)}
#ui_user .btns a.sina span{background-position:center top}
#ui_user .btns a.sina span:hover{background-position:center -30px}
#ui_user .btns a.mail{background-image:url(../img/ui-btn-mail.png)}
#ui_user .btns a i{background:url(../img/icon-weibo.gif) no-repeat;display:inline-block;height:15px;margin:-3px 0 0 5px;vertical-align:middle;width:18px}
#ui_user .btns a.mail i{background-image:url(../img/icon-mail-grey.gif);width:19px}
#ui_user .bar{background:rgba(0,0,0,.8);border-radius:3px;color:#fff;font-size:14px;height:30px;line-height:30px;margin:0 auto 4px;width:260px}
#ui_user .bar span{cursor:pointer;margin-left:10px}
#ui_user .bar span b{color:#e05206;font:16px lr-bold,sans-serif;margin-left:.5em}
#ui_user .bar a.exit span{border-left:solid 1px #323232;color:#808080;float:right;font-size:12px;height:20px;line-height:20px;margin-top:5px;padding:0 10px}
#ui_user .bar a.point span{color:#808080;float:right;font-size:12px;height:20px;line-height:20px;margin-top:5px;padding:0 10px}
#ui_user .bar a span{margin:0}
#ui_user .bar a:hover span{color:#efefef}
#ui_user .btn-left{padding-left:10px;text-align:left}

#ui_info{width:260px}
#ui_info ul{list-style:none;margin:0;padding:0}
#ui_info li{color:#fff;margin-bottom:10px;text-shadow:1px 1px 0 #000}
#ui_info span{font:18px/31px lr-bold,'Hiragino Sans GB','Hiragino Sans GB W6','Microsoft Yahei',sans-serif}
#ui_info span.dual{display:inline-block;line-height:20px;margin-top:-5px;vertical-align:middle;width:218px;}
#ui_info b{font:30px/31px lr-bold,sans-serif;margin-right:5px}
#ui_info sup{font-size:10px;font-weight:bold;margin-right:5px;top:-1em}
#ui_info .icon{background:url(../img/ui-icon.png) no-repeat;height:31px;margin-top:-10px;margin-right:5px;width:32px}
#ui_info .icon-location{margin-top:0}
#ui_info .icon-distance{background-position:right bottom;height:35px;margin-top:-12px}
#ui_info .icon-duration{background-position:0 -31px}
#ui_info .icon-latlng{background-position:0 -62px;margin-top:-10px}
#ui_info .icon-pic{background-position:0 -93px}
#ui_info .pic{cursor:pointer}

#content{background:#fff;left:0;position:absolute;top:0;visibility:hidden;z-index:2}
#content .color,#content .gallery-list{background:#fff;height:100%;position:absolute;right:-140px;width:140px}
#content .alpha-half{filter:alpha(opacity=50);opacity:.5}
#content .alpha-quarter{filter:alpha(opacity=20);opacity:.2}
#content .order1{right:-280px}
#content .gallery-list{cursor:default;visibility:hidden}
#content .gallery-list .frame{height:100%;overflow:auto;overflow-y:scroll}
#content .gallery-list ul{list-style:none;margin:0;padding:20px 10px 0}
#content .gallery-list li{margin-bottom:5px}
#content #detail{height:532px;margin-bottom:20px;padding:20px 0 0 150px;width:560px}
#content img{display:block}
#content .img-hover{position:relative}
#content .img-hover span{background:url(../img/spacer.gif);left:0;position:absolute;top:0}
#content .img-hover a{display:block;margin:0 auto}
#content .img-hover a:hover{background:url(../img/icon-image-hover.gif) no-repeat left top,url(../img/icon-image-hover.gif) no-repeat right top,url(../img/icon-image-hover.gif) no-repeat left bottom,url(../img/icon-image-hover.gif) no-repeat right bottom;border:solid 3px #fff}
#content .right-button{position:absolute;right:40px;top:20px;z-index:7}
#content h2{font-size:30px;font-weight:normal;margin:0;padding:0 10px}
#content h2 span{display:block;font-size:18px;font-weight:bold;line-height:22px}
#content h2 b{background:#000;display:block;font:0/0 a;height:5px;margin-top:20px;width:46px}
#content .article{overflow:auto;overflow-y:scroll}
#content .article .content{clear:left;overflow:hidden;padding:0 10px 40px}
#content .article p{font-size:14px;line-height:20px;margin:20px 0}
#content .article p.float-left{margin:0 20px 0 0}
#content .article p.float-right{margin:0 0 0 20px}
#content .mask-white{cursor:default}
#content .panorama span{background:url(../img/icon-panorama.png) no-repeat center center}
#content .diff span{background:url(../img/icon-diff.png) no-repeat center center}
#content .img-expand{position:relative}
#content .img-expand img{display:block}
#content .img-expand span{background:url(../img/spacer.gif);left:0;position:absolute;top:0}
#content .img-expand span b{background:#e05206;bottom:0;color:#fff;font-size:14px;height:25px;line-height:25px;padding:0 10px;position:absolute;right:0}
#content .img-expand blockquote{border-top:solid 1px #e05206;font-size:12px;margin:0;padding:10px 0}
/*#content .blockquote-expand span b{background:#e05206}
#content .blockquote-expand blockquote{display:block}*/
#content .img-share{overflow:hidden;position:relative;text-align:center}
#content .img-share span{background:url(../img/pattern-nav.png);bottom:-44px;cursor:default;display:block;padding:10px 0 10px;position:absolute;-webkit-transition:bottom .2s ease-out;transition:bottom .2s ease-out;width:100%}
#content .img-share span.hold{display:block !important}
#content .img-share:hover span,#content .img-share span.hold{bottom:0}
#content .img-share span input{background:#fff;border:0;font-size:12px;height:20px;margin-left:15px;padding:2px}
#content .img-share span a{background:#e05206;color:#fff;display:inline-block;height:20px;line-height:16px;margin-right:15px;padding:4px 5px 0;vertical-align:middle;white-space:nowrap}
#content .img-share span a b{display:inline-block;font-weight:normal;vertical-align:text-top}
#content .img-share span a i.icon-weibo{background:url(../img/icon-weibo.gif) no-repeat;display:inline-block;height:15px;vertical-align:text-top;width:19px}
#content #points_history{height:532px;margin-bottom:20px;overflow:auto;overflow-y:scroll;padding:20px 0 0 150px;width:560px}
#content #points_history .article{overflow:auto}
#content .timeline h2{color:#000;font-size:18px;font-weight:bold;margin:20px 0 25px 15px}
#content .timeline .block{border-left:dashed 1px #c8c8c8;margin-left:28px}
#content .timeline .item{margin:10px 0 10px -28px;overflow:hidden}
#content .timeline .item p{margin:0}
#content .timeline .single-line{line-height:50px}
#content .timeline .circle{background:#e05206;background-clip:content-box;border:solid 3px rgba(165,165,165,.25);border-radius:28px;color:#fff;float:left;font-size:12px;font-style:normal;height:50px;line-height:50px;margin-right:30px;text-align:center;width:50px}
#content .timeline b{color:#e05206}
#content .timeline blockquote{background:#e8e8e8;font-size:12px;margin:5px 20px 0 86px}
#content .timeline blockquote img{display:block;margin:0 auto}
#content .timeline blockquote .comment{padding:10px}
#content .timeline blockquote .comment h5{font-size:12px;margin:0 0 3px}
#content .timeline blockquote .comment p{font-size:12px}

#content #quiz{background:url(../img/arrow-lt-white.gif) no-repeat 2px 2px #e05206;color:#fff;cursor:default;font-size:14px;margin:20px 10px 0;padding-left:20px;position:relative}
#content #quiz .submit{background:#000;cursor:pointer;height:100%;position:absolute;right:-80px;top:0}
#content #quiz .submit .spacer{float:left;height:50%;margin-bottom:-7px;width:100%}
#content #quiz .submit a{display:block;height:14px;line-height:14px;text-align:center;width:80px}
#content #quiz p{margin:0;padding:12px 0 0}
#content #quiz p a{cursor:pointer;float:left;margin-bottom:12px;margin-right:30px;white-space:nowrap}
#content #quiz p a i{border:solid 1px #fff;display:inline-block;height:8px;margin-right:.4em;padding:2px;vertical-align:text-top;width:8px}
#content #quiz p a label{cursor:pointer;display:inline-block;line-height:12px;vertical-align:text-top}
#content #quiz p a.active b{background:#fff;display:block;height:100%;width:100%}
#content #quiz p.option{overflow:hidden}

#gallery{height:100%;left:0;position:absolute;top:0;width:100%;z-index:2}
#gallery .frame{background:url(../img/img-loader.gif) no-repeat center center #e2e1e1;cursor:url(../img/cursor-close.cur) 26 26,pointer;height:100%;overflow:hidden;position:absolute;visibility:hidden;width:100%}
#gallery .frame img,#gallery .switch img{left:0;position:absolute}
#gallery .switch a{background:url(../img/img-loader.gif) no-repeat center center #e2e1e1;border:solid 3px #fff;box-shadow:0 3px 5px rgba(0,0,0,.34);;position:absolute;width:96px;z-index:6}
#gallery .switch a.next{right:10px;visibility:visible}
#gallery .switch a.prev{left:10px;visibility:visible}
#gallery .switch img{width:100%}
#gallery .share{bottom:94px;height:0;left:0;position:absolute;text-align:center;width:100%;z-index:8}
#gallery .share textarea,#gallery .share .btn-cancel{display:none}
#gallery .share p{height:0;margin:0}
#gallery .share form{}
#gallery .share .bg{border-top:dashed 1px #5c6067;border-bottom:dashed 1px #5c6067;padding:5px 0}
#gallery .share .bg .pattern{background:url(../img/pattern-action.png) repeat;padding:11px 0 35px}
#gallery .share .bg textarea{border:0;font:12px/18px monospace;display:inline-block;height:97px;margin-bottom:8px;padding:5px 10px;resize:none;text-align:left;width:513px}
#gallery .share p.submit{bottom:-24px;height:24px;margin:0;position:absolute;width:100%}
#gallery .share a.btn{background:#ff5900;color:#fff;display:inline-block;height:18px;line-height:18px;padding:3px 4px;vertical-align:middle}
#gallery .share a.btn span{display:inline-block;overflow:hidden;vertical-align:text-top;white-space:nowrap;-webkit-transition:width .2s ease-out;transition:width .2s ease-out}
#gallery .share a.btn i{background:url(../img/icon-weibo.gif) no-repeat center center;display:inline-block;height:15px;line-height:15px;margin-top:1px;vertical-align:text-top;width:19px}
#gallery .pager,#panorama .info .bar{background-color:rgba(255,255,255,.2);bottom:0;font:0/0 a;height:35px;position:absolute;text-align:center;width:100%;z-index:6}
#gallery .pager a,#panorama .info .bar a{background:url(../img/icon-arrow.gif) no-repeat center top #000;display:inline-block;height:35px;width:32px;-webkit-transition:background-position .2s ease-out;transition:background-position .2s ease-out}
#gallery .pager a:hover,#panorama .info .bar a:hover{background-position:center -35px}
#gallery .pager span{background:#e05206;color:#913300;display:inline-block;font:18px/25px lr-medium,sans-serif;height:30px;padding:5px 20px;text-align:center;vertical-align:top}
#gallery .pager span b{color:#fff;font-size:22px;font-weight:normal}
#gallery .pager a.next,#panorama .info .bar a.next{-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);-ms-transform:scaleX(-1);transform:scaleX(-1)}

#panorama{height:100%;left:0;overflow:hidden;position:absolute;top:0;width:100%;z-index:6}
#panorama .mask{background-image:url(../img/pattern-nav.png);z-index:auto}
#panorama .btn-square{position:absolute;right:10px;top:10px;z-index:4}
#panorama .view{height:100%;position:absolute;top:0;visibility:hidden}
#panorama .view .dot{position:absolute;z-index:3}
#panorama .view .dot span{background:rgba(255,255,255,.2);border-radius:16px;height:32px;left:-16px;position:absolute;top:-16px;width:32px}
#panorama .view .dot i{background:#585858;border:solid #fff 1px;border-radius:8px;display:block;height:12px;margin:9px auto 0;width:12px}
#panorama .view .active span{background:rgba(255,255,255,.2);border-radius:30px;box-shadow:0 2px 2px rgba(0,0,0,.2);height:60px;left:-30px;position:absolute;top:-30px;width:60px}
#panorama .view .active i{background:rgba(255,255,255,.8);border:0;border-radius:20px;height:27px;margin-top:10px;padding-top:13px;width:40px}
#panorama .view .active b{background:#e05206;border:solid 1px #fff;border-radius:14px;display:block;height:12px;margin:0 auto;width:12px}
#panorama .view img{position:absolute}
#panorama .panel{background:#e2e1e1;color:#545454;font-size:12px;height:100%;padding:0 8px;position:absolute;top:0}
#panorama .info{bottom:0;left:0;position:absolute;width:100%;z-index:3}
#panorama .info .circle{background:#464646;background:rgba(0,0,0,.66);border:solid 4px #fff;border-radius:46px;color:rgba(255,255,255,.6);cursor:pointer;font-size:12px;font-weight:bold;height:78px;line-height:28px;padding-top:4px;position:absolute;text-align:center;top:-106px;width:82px;left:700px}
#panorama .info .circle b{color:#fff;display:block;font-family:lr-bold,sans-serif;font-size:45px;line-height:40px}
#panorama .info .browse{background:#fff;padding:10px 0;text-align:center;width:100%}
#panorama .info .browse p{display:inline-block;margin:0 4px;position:relative}
#panorama .info .browse img{display:block;height:100px}
#panorama .info .img-hover span{background:url(../img/spacer.gif);height:100%;left:0;position:absolute;top:0;width:100%}
#panorama .info .img-hover a{display:block;height:100%;width:100%}
#panorama .info .img-hover a:hover{background:url(../img/icon-image-hover.gif) no-repeat left top,url(../img/icon-image-hover.gif) no-repeat right top,url(../img/icon-image-hover.gif) no-repeat left bottom,url(../img/icon-image-hover.gif) no-repeat right bottom}
#panorama .info .bar{position:static}
#panorama .info .bar a{}
#panorama .info .bar span{background:#e05206;color:#913300;cursor:pointer;display:inline-block;font:18px/25px lr-medium,sans-serif;height:30px;padding-top:5px;text-align:center;vertical-align:top;width:72px}
#panorama .info .bar span span{padding:0}
#panorama .info .bar span b{color:#fff;font-size:22px;font-weight:normal}
#panorama .info .bar a.next{}
#panorama .info .bar .icon-browse{background:url(../img/icon-browse.gif) no-repeat center center;height:25px;line-height:10px;vertical-align:text-top;width:10px}
#panorama .hint{background:url(../img/pattern-nav.png) repeat rgba(0,0,0,.3);height:100%;position:absolute;top:0;width:100%;z-index:5}
#panorama .hint .circle{background:url(../img/icon-panorama.png) no-repeat center top;color:#fff;font-size:14px;font-weight:bold;margin:0 auto;padding-top:110px;text-align:center;white-space:nowrap;width:120px}
#panorama .hint .circle b{color:#e05206}

#difference{background:#7f7f7f;height:100%;left:0;overflow:hidden;position:absolute;top:0;width:100%;z-index:5}
#difference .mask{background-image:url(../img/pattern-nav.png);z-index:auto}
#difference .btn-square{position:absolute;right:10px;top:10px;z-index:4}
#difference .view{font:0/0 a;height:100%;position:absolute;top:0;visibility:hidden;white-space:nowrap}
#difference .view img{cursor:pointer;margin:0 6px}
#difference .horizon{height:auto;white-space:normal}
#difference .horizon img{margin:0}
#difference .horizon .top{margin-bottom:12px}
#difference .view .diff{background:url(../img/ol-tick.png) no-repeat;height:48px;position:absolute;width:48px}
#difference .timer{border:solid 3px #fff;border-color:rgba(255,255,255,.53);border-radius:5px;bottom:60px;position:absolute;right:20px}
#difference .timer .panel{background:#fff;padding:10px 8px;text-align:center;width:102px}
#difference .timer span{color:#000;display:block;margin-bottom:6px;text-align:left}
#difference .timer b{background:#000;color:#fff;display:inline-block;font:40px/48px lr-light,sans-serif;height:49px;width:49px}
#difference .timer b:last-child{margin-left:2px}
#difference .info{border-bottom:solid 2px #e05206;bottom:0;left:0;position:absolute;width:100%;z-index:3}
#difference .info .circle{background:#464646;background:rgba(0,0,0,.66);border:solid 4px #fff;border-radius:46px;color:rgba(255,255,255,.6);font-size:12px;font-weight:bold;height:78px;line-height:28px;padding-top:4px;position:absolute;text-align:center;top:-154px;width:82px;left:700px}
#difference .info .circle b{color:#fff;display:block;font-family:lr-bold,sans-serif;font-size:45px;line-height:40px}
#difference .info .bar{background-color:rgba(255,255,255,.2);border-bottom:solid 2px #e05206;font:0/0 a;height:35px;text-align:center;width:100%}
#difference .info .bar a{background:url(../img/icon-arrow.gif) no-repeat center center #000;display:inline-block;height:35px;width:32px}
#difference .info .bar span{background:#e05206;color:#913300;cursor:pointer;display:inline-block;font:18px/25px lr-medium,sans-serif;height:30px;padding-top:5px;text-align:center;vertical-align:top;width:72px}
#difference .info .bar span span{padding:0}
#difference .info .bar span b{color:#fff;font-size:22px;font-weight:normal}
#difference .info .bar a.next{-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);-ms-transform:scaleX(-1);transform:scaleX(-1)}
#difference .hint{background:#fff;bottom:2px;box-shadow:0 -5px 0 rgba(255,255,255,.6);left:0;padding:20px 0 0;position:absolute;text-align:center;width:100%;z-index:3}
#difference .hint p{color:#404040;font-size:14px;line-height:24px;margin:0}
#difference .hint p b{color:#e05206;display:block;font-weight:normal}
#difference .hint p a{border-top:solid 1px #a7a7a7;display:block;height:36px;line-height:36px;margin-top:20px}

#head{bottom:30px;color:#fff;padding:5px;position:absolute;right:20px;text-align:right}
#head span{background:#e05206;display:inline-block;font-size:22px;height:28px;line-height:26px;padding:0 3px 0 8px}
#head h2{background:#e05206;font-size:36px;height:40px;line-height:35px;margin:1px 0 0;padding:0 3px 0 8px}

#nav{position:absolute;width:100%;z-index:9}
#nav div.separator{bottom:0;font:0/0 a;left:0;position:absolute}
#nav div.separator span{display:inline-block;margin-left:20px;position:relative}
#nav div.separator i{background:#fff;bottom:0;height:4px;position:absolute;right:-11px;width:2px}
#nav .btn{background:url(../img/ui-icon-nav.gif) no-repeat 6px center #e05206;color:#fff;display:inline;float:left;font-size:10px;height:20px;line-height:20px;margin-left:20px;text-align:center}
#nav .contract{bottom:0;cursor:pointer;left:0;position:absolute;padding-top:10px;width:100%}
#nav .contract p{background:url(../img/pattern-nav.png) repeat;float:right;font:0/0 a;height:20px;margin:0}
#nav .contract span{background:#bcbec0;display:inline-block;height:2px;margin:0 10px;vertical-align:top}
#nav .contract span.first{margin-left:0}
#nav .contract span.active{background:#e05206;height:4px}
#nav .expand{background:url(../img/pattern-menu.png) repeat;bottom:0;cursor:url(../img/cursor-close.cur) 26 26,pointer;height:768px;position:absolute;width:100%}
#nav .blocks{bottom:10px;left:0;position:absolute;}
#nav .expand p{background:url(../img/menu-block.png) no-repeat;background-size:100%;float:left;margin:0 0 0 20px}
.no-backgroundsize #nav .expand p{background:#efefef}
#nav .expand p a{border:solid 1px #ccc;box-sizing:border-box;color:#333;display:block;font-size:14px;font-weight:bold;height:100%;position:relative;text-decoration:none}
#nav .expand p.active a{background:url(../img/menu-arrow.png) no-repeat left bottom;cursor:default}
#nav .expand p a span{display:block;margin:10px}
#nav .expand p a b{border-top:solid 1px #000;display:block;font:0/0 a;margin-left:10px;width:4px}
#nav .expand p a i.separator{background:url(../img/ui-separator.gif) no-repeat center top;font:0/0 a;height:1px;left:-21px;position:absolute;top:-12px;width:20px}

#user_action{left:0;position:absolute;top:0;width:100%;z-index:12}
/*#user_action .mask,#welcome .mask{background-image:url(../img/pattern-nav.png);cursor:url(../img/cursor-close.cur) 26 26,pointer}*/
#user_action .bg{border-top:dashed 1px #5c6067;border-bottom:dashed 1px #5c6067;padding:5px 0;position:absolute;text-align:center;width:100%;z-index:8}
#user_action .pattern{background-color:#fff;padding:25px 0}
#user_action .select{font-size:0}
#user_action .select a{background:#e05206;color:#fff;display:inline-block;font-size:16px;font-weight:bold;height:40px;line-height:40px;padding:0 20px}
#user_action .select a i{background:url(../img/icon-weibo.gif) no-repeat;display:inline-block;height:15px;margin:-3px 0 0 5px;vertical-align:middle;width:18px}
#user_action .select a.email i{background-image:url(../img/icon-mail.gif)}
#user_action .select b{border-right:solid 1px #fff;display:inline-block;height:40px;margin:0 60px;vertical-align:top}
#user_action .select p{bottom:-26px;position:absolute}
#user_action .select p a{-webkit-text-size-adjust:none;background:none;color:#fff;display:inline;font-size:10px;font-weight:normal;height:auto;line-height:20px;padding:0;text-align:right;text-decoration:none}
#user_action .select p a:hover{text-decoration:underline}
/*#user_action .register,#user_action .login,#user_action .success{left:357px;position:absolute;top:64px;width:566px}*/
#user_action .frame{display:inline-block;width:566px}
#user_action .register .float-left h4,#user_action .login .float-left h4{font-size:48px;font-weight:normal;margin:0;text-align:left}
#user_action .register .float-left p,#user_action .login .float-left p{color:#fff;margin:15px 0 0;text-align:left;text-shadow:1px 1px 1px #000}
#user_action .register p,#user_action .login p{clear:left;height:48px;margin:0 0 1px;overflow:hidden}
#user_action .success{top:10px}
#user_action .success p.lead{color:#e05206;font-size:24px;margin:15px 0 25px;text-align:center}
#user_action .success p.lead strong{display:block;font-size:36px;font-weight:normal;line-height:50px}
#user_action .textbox{background:url(../img/pattern-textbox.gif);border:0;border-radius:0;color:#e05206;display:block;height:22px;font:14px/22px lr-medium,'Microsoft Yahei',sans-serif;padding:13px;outline:none;width:280px}
#user_action .textbox:hover{background:#eee}
#user_action input.placeholder{color:#c3c3c3}
#user_action input.short{display:inline;float:left;margin-right:1px;width:115px}
#user_action input.tiny{display:inline;float:left;margin-right:1px;width:107px}
#user_action input.middle{display:inline;float:left;margin-right:1px;width:249px}
#user_action button{background:url(../img/btn-arrow.gif) no-repeat center #e05206;border:0;color:#e05206;font:0/0 a;height:48px;width:30px}
#user_action p.desc{color:#a4a4a4;height:auto;margin:6px 0 0;text-align:right;width:300px}
#user_action p.desc a{color:#e05206;text-decoration:underline}

#welcome{left:0;position:absolute;top:0;visibility:hidden;width:100%;z-index:10}
#welcome .frame{border-top:dashed 1px #5c6067;border-bottom:dashed 1px #5c6067;left:0;padding:5px 0;position:absolute;width:100%;z-index:8}
#welcome .panel{background:#fff;padding:25px 0}
#welcome .content{margin:0 auto;position:relative;width:760px}
#welcome p{margin:10px 0}
#welcome p.lead{font-size:20px;margin:0}
#welcome p.lead strong{color:#ff7800;display:block}
#welcome p.links{margin:15px 0 0}
#welcome p a{color:#656565;display:inline-block;margin-right:10px;text-decoration:underline;vertical-align:text-top}
#welcome p a.skip{color:#949494;text-decoration:none}
#welcome p img{display:block}
#welcome .prize{background:url(../img/prize-dual.jpg) no-repeat;color:#616161;left:398px;padding-top:111px;position:absolute;text-align:center;top:3px;width:430px}
#welcome .prize b{color:#ff7800;font-weight:normal}
#welcome .prize a{cursor:default;text-decoration:underline}

#intro{background:#fff;*display:inline-block;overflow:hidden;padding-top:40px;width:1020px}
#intro .column{display:inline;float:left;margin-left:20px;width:260px}
#intro .stat{list-style:none;margin:5px 0 0;padding:0}
#intro .stat li{color:#333;font:30px/32px lr-bold,'Hiragino Sans GB','Hiragino Sans GB W3','Microsoft Yahei',sans-serif;margin-bottom:8px}
#intro .stat li sup{font-size:10px;margin-left:5px;top:-1em}
#intro .stat li i{background:url(../img/icon-black.png) no-repeat;height:32px;margin-top:-3px;margin-right:6px;width:32px}
#intro .stat li i.icon-distance{height:34px;line-height:34px}
#intro .stat li i.icon-stops{background-position:0 -34px}
#intro .stat li i.icon-pic{background-position:0 -66px}
#intro h2{font-size:24px;height:31px;line-height:31px;margin:0}
#intro b.line{background:#000;display:block;font:0/0 a;height:5px;margin:20px 0;width:46px}
#intro p{margin:20px 0}
#intro .quick-link{border-left:dashed 1px #ccc;margin-top:51px;height:360px;width:139px !important}
#intro .quick-link .line{margin-top:0}
#intro .form{list-style:none;margin:0;padding:0 0 0 19px}
#intro .form li{background:url(../img/pattern-bg.png) repeat;height:35px;margin-bottom:20px;padding:5px;width:110px}
#intro .form li a{border:solid 1px #fff;display:block;height:31px;padding:1px;text-decoration:none}
#intro .form li a span{background:url(../img/arrow-btn-tl.gif) no-repeat 1px 1px #fff;color:#333;display:block;font-size:14px;height:31px;line-height:31px;text-align:center}

#footer{clear:both;margin-top:20px;min-width:1280px;overflow:hidden}
#footer .footer-shadow{background:url(../img/footer-shadow.gif) repeat-x;color:#999;height:60px;line-height:60px;padding-left:20px;position:relative;width:960px}
#footer .extend{background:url(../img/footer-extend.gif) no-repeat;height:38px;position:absolute;right:-207px;top:0;width:207px}
#footer a{color:#555;font-weight:bold;text-decoration:none}
#footer a:hover{text-decoration:underline}
#footer i{background:#000;display:inline-block;height:4px;font:0/0 a;margin:0 5px;vertical-align:bottom;width:1px}
#footer .share{display:inline-block;list-style:none;margin:0;overflow:hidden;padding:0 20px 0 0}
#footer .share li{background:url(../img/icon-share.gif) no-repeat;cursor:pointer;display:inline;;float:left;font:0/0 a;height:13px;margin-left:5px;opacity:.75;width:13px}
#footer .share li:hover{opacity:1}
#footer .share li.renren{background-position:-13px 0}
#footer .share li.douban{background-position:-26px 0}

#about,#vehicle,#media{position:absolute;width:100%;z-index:7}
#about .frame,#vehicle .frame,#media .frame{background:#fff;bottom:0px;height:428px;position:absolute;width:100%}
#about .box,#vehicle .box,#media .box{margin:0 auto;padding-top:20px;position:relative;width:980px}
#about .tabs,#vehicle .tabs,#media .tabs{background-color:#e5e5e5;background-image:-moz-linear-gradient(bottom,#f5f5f5,#fff);background-image:-webkit-linear-gradient(bottom,#f5f5f5,#fff);background-image:linear-gradient(bottom,#cdcdcd,#fff);height:45px}
#about .tabs .box,#vehicle .tabs .box,#media .tabs .box{padding-top:6px}
#about .tabs ul,#vehicle .tabs ul,#media .tabs ul{list-style:none;margin:0;padding:0}
#about .tabs li,#vehicle .tabs li,#media .tabs li{color:#747474;cursor:pointer;float:left;font-weight:bold;height:30px;line-height:33px;margin-right:30px;text-align:center;text-shadow:1px 1px 0 #fff;width:85px}
#about .tabs li.active,#vehicle .tabs li.active,#media .tabs li.active{background:#fff;border-radius:5px;box-shadow:inset 0 1px 4px rgba(115,115,115,.19);color:#00173a;cursor:default;letter-spacing:1px}
#about .article p,#vehicle .article p,#media .article p{margin:10px 0}

#about .head{background:url(../img/head-line.png) no-repeat;color:#000;font:0/0 a;height:102px;position:absolute;top:-114px;width:380px}
#about .tab-item{}
#about .article{font-size:14px;line-height:22px;width:524px}
#about .article p,#vehicle .article p{margin:20px 0}
#about .article p span{color:#df5206;font:18px/24px lr-medium,sans-serif}
#about .article p.btn{margin-top:60px}
#about .article-wide{width:100%}
#about .map{background:url(../img/about-map.gif) no-repeat;height:268px;position:absolute;right:-57px;top:37px;width:394px}
#about table{font-size:16px;margin:20px 0}
#about td{height:30px}
#about .highlight td{color:#df5206}
#about .prize{background:url(../img/prize-evoque.jpg) no-repeat;color:#ddd;height:24px;padding-top:186px;position:absolute;right:-64px;text-align:center;top:45px;width:374px}
#about .article p.notice{margin-top:45px}

#vehicle .tabs li.first{margin-right:465px}
#vehicle .head{background:url(../img/head-vehicle.png) no-repeat;color:#000;font:0/0 a;height:63px;position:absolute;top:-75px;width:262px}
#vehicle .article{padding-top:155px;width:430px}
#vehicle .vehicle-evoque{background:url(../img/vehicle-evoque.jpg) no-repeat;height:101px;left:-25px;position:absolute;top:41px;width:245px}
#vehicle .vehicle-fl2{background:url(../img/vehicle-fl2.jpg) no-repeat;height:120px;left:531px;position:absolute;top:40px;width:269px}
#vehicle .evoque-links{left:321px;position:absolute;top:40px}
#vehicle .fl2-links{left:870px;position:absolute;top:40px}

#media .head{background:url(../img/head-media.png) no-repeat;color:#000;font:0/0 a;height:63px;position:absolute;top:-75px;width:383px}
#media .tabs li{padding:0 20px;position:absolute;width:auto}
#media .article{position:absolute;top:15px}
#media .site1{left:0}
#media .site2{left:365px}
#media .site3{left:730px}

#btn_rule{background:#fff;bottom:120px;color:#333;cursor:pointer;height:17px;line-height:14px;left:20px;padding-top:3px;position:absolute;text-align:center;width:120px}
#btn_rule .icon-triangle-down{-moz-transform:rotateZ(-135deg);-webkit-transform:rotateZ(-135deg);transform:rotateZ(-135deg);background:url(../img/arrow-btn-tl.gif) no-repeat;height:7px;margin:2px 0 0 5px;vertical-align:text-top;width:7px}

#bgm_control{bottom:30px;cursor:pointer;left:155px;position:absolute}
#bgm_control i{background:url(../img/icon-bgm.gif) no-repeat;height:14px;vertical-align:text-top;width:15px}
#bgm_control .bgm-off{background-position:0 -14px}
#bgm_control span{color:#fff;font:11px lr-bold,sans-serif;margin-left:3px;text-transform:uppercase}

/* map objects define*/
#map_control{background:url(../img/control-map.jpg) no-repeat;border:solid 3px #fff;bottom:30px;cursor:pointer;height:74px;left:20px;position:absolute;width:114px}
#map_control i{cursor:pointer;height:23px;position:absolute;top:26px;width:23px}
#map_control i.in{right:-3px}
#map_control i.out{left:-3px}

/* overlay notice */
.overlay{background:#fff;border-top:solid 1px #e05206;box-shadow:0 1px 9px rgba(0,0,0,.75);height:120px;position:absolute;visibility:hidden;width:420px;z-index:99}
.overlay a{color:#00173a}
.overlay p .more,.overlay p .ignore{display:block;font-weight:normal;margin-top:1em}
.overlay p span a{text-decoration:underline}
.overlay p .ignore a{color:#b4b4b4 !important;text-decoration:underline}
.overlay .btns a{border:solid 1px #e7e7e7;display:inline-block;font-size:12px;height:26px;line-height:26px;margin-bottom:15px;text-align:center;width:86px}
.overlay .btns a.highlight{background:#e05206;border-color:#e05206;color:#fff}
#alert p{font-size:14px;font-weight:bold;padding-top:32px;text-align:center}
#alert p b,#auth p b{color:#e05206}
#alert p i,#dialog p.text i{font-family:lr-bold,sans-serif;font-size:20px;font-style:normal;margin:.4em}
#auth .close,#dialog .close{background:url(../img/icon-cross-white.png) no-repeat center center #e5e3e3;font:0/0 a;height:24px;position:absolute;right:0;top:0;width:24px}
#auth .close:hover,#dialog .close:hover{background-color:#e05206}
#auth p{font-weight:bold;margin-left:40px;padding-top:14px;width:210px}
#auth .btns{margin:25px 50px 0 0}
#auth .btns a{display:block}
#chromeframe p{margin:0;padding:30px 30px 0}
#chromeframe p span{margin-top:24px}
#chromeframe p a{color:#e05206}
#dialog p{margin:16px 30px}
#dialog p.text{font-size:14px;height:40px}
#dialog p.text b{color:#e05206}
